<div  id="contact">
  <br><br>
<h1>Contact My World</h1>
<br>
<form action="postData" method="POST">
  <label for="fname"> Your Name</label> <br>
  <input type="text" id="fname" name="fname"><br>

    <label for="email">Email</label> <br>
    <input type="text" id="email" name="email">
<button type="button" name="button">submit</button>
</form>
</div>
