<div id="footer" class="footer">

  <div hidden id="tickerbar">
<img class="langLogo" src="../images/resume/html.png">
<img class="langLogo" src="../images/resume/AE.png">
<img class="langLogo" src="../images/resume/css.png">
<img class="langLogo" src="../images/resume/sass.png">
<img class="langLogo" src="../images/resume/js.png">
<img class="langLogo" src="../images/resume/node.png">
<img class="langLogo" src="../images/resume/linux.png">
<img class="langLogo" src="../images/resume/express.png">




</div>
<h6>developed by: Scott @ w2marketing.biz</h6>
</div>
