<head>
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
	<meta property="og:title" content="Web Design ~ Portfolio">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-1CRB2BPTRG"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-1CRB2BPTRG');
	</script>
	<meta property="og:description" content="Website Design by: Scott Wallace">
  <link rel="stylesheet" type="text/css" href="./css/dubSquared.css">
	<link rel="icon" href="a-imageMain/sw.png" sizes="16x16" type="image/png">
      <title>Scott Wallace World |</title>

  <style>
     @font-face {
      font-family:"mplus";
      src:url("./fonts/MPLUSCodeLatin-Thin.ttf");
         }
    @font-face {font-family:"quest";
      src:url("./fonts/Questrial-Regular.ttf");
         }
 </style>
</head>
