

<div id="loadScreen">
<%- include('../partials/header.ejs')%>

  <div id="loaderMessage">
  <p><span class="logoFont">loading...</span></p>
  </div>
<div id="loadAnnieDiv0"><div class="divDot" id="divDot0"></div></div>
<div id="loadAnnieDiv1"><div class="divDot" id="divDot1"></div></div>
<div id="loadAnnieDiv2"><div class="divDot" id="divDot2"></div></div>
<div id="loadAnnieDiv3"><div class="divDot" id="divDot3"></div></div>
<div id="loadAnnieDiv4"><div class="divDot" id="divDot4"></div></div>
<div id="loadAnnieDiv5"><div class="divDot" id="divDot5"></div></div>
<div id="loadAnnieDiv6"><div class="divDot" id="divDot6"></div></div>
<div id="loadAnnieDiv7"><div class="divDot" id="divDot7"></div></div>
<div id="loadAnnieDiv8"><div class="divDot" id="divDot8"></div></div>
<div id="loadAnnieDiv9"><div class="divDot" id="divDot9"></div></div>
</div>
