
<div id="menu"class="menu">
<br><br>
<br><br>

<span class="logoFont">Browse My Portfolio</span>
  <ul class="menuList">
    <li><a href="/">home</a></li>

    <li><a href="/sandbox">sandbox</a></li>
    <li><a href="/resume">resume</a></li>
</ul>
<br><br>
<br><br>
<span class="logoFont">my Websites</span>
  <ul class="menuList">
  <li><a href="/blc">badassladiesclub</a></li>
  <li><a href="/valrick">valricktravel</a></li>
      <li><a href="/w2">w2 Marketing</a></li>
      <br>
      <li><a href="/contact">Contact Me</a></li>

    </ul>
</div>
