
<div id="menu"class="menu">
<br><br>
<br><br>
<div class="menuBox">
<span class="logoFont">Browse My Portfolio</span>
  <ul class="menuList">
    <li><a href="/">home</a></li>

    <li><a href="/sandbox">sandbox</a></li>
    <li><a href="/sandboxV2">sandbox v.2</a></li>
    <li><a href="/resume">resume</a></li>
    <li><a href="/github">my github</a></li>
</ul>
<br><br>
<br><br>
<span class="logoFont">my Websites</span>
  <ul class="menuList">
  <li><a href="/blc">badassladiesclub</a></li> status: 0
  <li><a href="/zeroGravity">Zero Gravity</a></li>
  <li><a href="/w2">w2 Marketing</a></li>
  <li><a href="/swlc">Somewhere Landing Cabins</a></li>
  <li><a href="/sook">Southern Oklahoma Pride</a></li>
  <li><a href="/noco">Noco Metalworkz</a></li>
      <br>
      <li><a href="/contact">Contact Me</a></li>

    </ul>
  </div>
</div>


