<div class="resume"id="resPage">
  <div>

  <span class="logoFont" style="filter:brightness(.9);font-size:1.2rem;margin-bottom:4%"> Michael Scott Wallace</span>
  <br><br>
  <h5>Greeley, CO</h5>
  <h5>m.scott.wallace@gmail.com</h5>
  <h5>www.w2marketing.biz</h5>
  <h3 onclick="collapse(techHistoryDiv)">Technical Background</h3>
<div  id="techHistoryDiv" class="trans">
 

  <ul id="techHistory">
      
      <li>2022 ~ UI Development, Web Design, Accounting <br> <strong>W2 Marketing  Greeley, CO </strong><br>Linode Website Deployments, Consulting, Business Solutions, Node JS and Express Apps, Linux, Powershell, SEO Research </li><br>
      <li>2021 ~ Comp TIA A+ Certifacate ~ Full Hardware Build of Ubuntu Servers and SSH Development</li><br>
      <li>2020 ~ Launched Marketing Agency www.w2marketing.biz</li><br>
      <li>2020 ~ HTML, CSS, SASS, and Javascript for Responsive Web App Design and Deployments</li><br>
      <li>2020 ~ Cpannel File Server Admin Static Webfiles.</li><br>
      <li>2008 ~ Comcast Cable Technician ~Contact Cable, Denver, COVOIP Systems, Telecom,Coaxial Data Wiring Engineering, Signal Analysis, Local Troubleshooting,</li><br>
      <li>2003 ~ Tech Skills ~ Training School, Addison, TX Computer Hardware Engineering, OS Configuration,</li><br>
  </ul>
</div>
<h3 onclick="collapse(leadershipDiv)">Leadership Roles</h3>
<div id="leadershipDiv" class="trans">
  
  <ul id="leadership">
      <li>2018 ~ Management and Operations ~Coyotes, Greeley, CO</li><br>
      <li>2016 ~ Area Director ~ Stuft A Burger Bar~ Fort Collins, Windsor, Greeley, CO</li><br>
      <li>2014 ~ Operations Planning and Execution ~ RARE Italian~ Fort Collins, CO</li><br>
      <li>2010 ~ Senior Manager ~ Public School 612 & Daily Grill ~ Los Angeles, CA</li><br>
  </ul>
</div>
  <h3 onclick="collapse(techSkillsDiv)">Various Technical Skils</h3>
  <div id="techSkillsDiv" class="trans">
  <ul id="techSkills">
      <li>Javascript</li><br>
      <li>HTML, SCSS, SASS</li><br>
      <li>AWS EC2</li><br>
      <li>Linode VM</li><br>
      <li>DNS and SSL Admin</li><br>
      <li>Computer Hardware</li><br>
      <li>Windows Troubleshooting</li><br>
      <li>Excel and Sheets Expert</li><br>
      <li>Photoshop</li><br>
      <li>After Effects</li><br>
      <li>UI Design</li><br>
      <li>Junior Node.js Development</li><br>
      <li>Networking</li><br>
  </ul>
  </div>
<div style="text-align:center">
  <h6>1998 Plano Sr High ~ High School Diploma ~ Plano,TX</h6><br>
  <h6> - SCOTT WALLACE - m.scott.wallace@gmail.com - </h6>
</div>
  <br><br>

  <span class="logoFont">Cover Letter</span>
  <div id="coverLetter">
  <p>Greetings,
  <br><br>
  Thank you for taking time to review my experience. My name is Scott.
  </p>
  <h3 onclick="collapse(backgroundDiv)">Background</h3>
  <div id="backgroundDiv" class="trans">
  <p>I’m originally from Oklahoma City. I was educated to be expressive and artistic. Creativity was a key to my upbringing. As an adult, I’ve expressed my art through Technology, Web Design, Leadership, and even Food.
  I have a very broad skill set on Technology using Hardware, Networking, Data Analysis, and Programming from years of applied experience.
  </p><br><br>
</div>
  <h3 onclick="collapse(abstractDiv)">Abstract Skillset</h3>

  <div id="abstractDiv" class="trans">
  <p><br><br>
  You can see the U-Turn in vocation. W2 was an opportunity to invest the time we had through Covid to become a business owner . We remain successful operators with our Marketing Agency. My role as a startup is over, and my path through ever evolving tech will continue to grow our company. My partner handles operations and my responsibilities have essentially dissolved from developing automation to accounting and hiring a few employees.
  Continual Discovery is my Life Commitment. Programming  has become a career of intriguing and rewarding discoveries.
  <br><br>
  I have always used technology to improve the world around me. My father worked on unix systems when I was 8 years old. I grew up using those Unix terminals, America Online, Prodigy, saw the phenomenon of social online experiences from chat rooms to myspace, facebook, website deployment, online training systems, and now blockchain and Server technologies.
  <br><br>
  Programming allowed me to immerse and apply to create standalone websites and grow into full stack development. Currently I have Advanced knowledge of Javascript, SASS, Programming Syntax, Debugging and Logic . My future design is focused on securing and testing a prototype Express.js App, with User Logins, and a Scalable Marketplace.
  ~~
  <br><br></p>
  </div>
  <h3 onclick="collapse(mygoalsDiv)">My Goals</h3>
  <div id="mygoalsDiv" class="trans">
  <p>Grow our Company and our Clients </p>
  <p>Become a Junior Developer in a team oriented production, using CSS, Javascript and Node. Gain more exposure to workflow and contribute to a worthwhile project that I can grow from. You can view my github repositories here: <a style="z-index:10;text-align:center;color:rgb(36, 151, 180);text-decoration:none" href="/github"> Github Repositories</a><br><br></p>
  <h3 style="text-decoration:none;">For Hire for Contract and Remote Employment</h3>
  <h4>Gratefully, Scott Wallace</h4>
  <br><br><br>
</div>
  <p>I am available to interview on WebEx, Zoom, Teams, Discord, and in person</p><br><br><br>
  <p></p>  </div>
  </div>
</div>
<script src="./jsfiles/resume.js"></script>