<div class="resume"id="resPage">
<div>

<span class="logoFont" style="filter:brightness(.9);font-size:1.2rem;margin-bottom:4%"> Michael Scott Wallace</span>
<br>
<br>
<h5>Greeley, CO</h5>

<h5>m.scott.wallace@gmail.com</h5>

<h5>www.w2marketing.biz</h5>





<ul id="techHistory">
  <h3>Technical Background</h3>
<li>2021 ~ Co-Founder & Chief Tech ~ W2 Marketing ~ Greeley, CO

Linode Server Admin, Consulting, Website Design, Business Solutions, Accounting

Learning and Development of Linux & Bash, Node JS, and VM production
</li><br>
<li>2021 ~ Revived Knowledge of Comp TIA A+ Certifacate ~ Built / Developed a Scratch

Headless Ubuntu Server
</li><br>
<li>2020 ~ Launched Marketing Agency www.w2marketing.biz
</li><br>
<li>2020 ~ Began a path of learning HTML, CSS, SASS, and Javascript
</li><br>
<li>2020 ~ Revived my old knowledge of managing a Cpannel File Server.
</li><br>
<li>2008 ~ Comcast Cable Technician ~Contact Cable, Denver, CO

        VOIP Systems, Telecom,Coaxial Data Wiring Engineering, Signal Analysis, Local Troubleshooting,
</li><br>
<li>2003 ~ Tech Skills ~ Training School, Addison, TX

        Computer Hardware Engineering, OS Configuration,
</li><br>
</ul>

<ul id="leadership">
  <h3>Leadership Roles</h3>
<li>2018 ~ Kitchen and Service Operations ~Coyotes, Greeley, CO
</li><br>
<li>2016 ~ Area Director ~ Stuft A Burger Bar~ Fort Collins, Windsor, Greeley, CO
</li><br>
<li>2014 ~ Operations Planning and Execution ~ RARE Italian~ Fort Collins, CO
</li><br>
<li>2010 ~ Senior Manager ~ Public School 612 & Daily Grill ~ Los Angeles, CA
</li><br>
</ul>
<h3>Various Technical Skils</h3>
<ul id="techSkills">


<li>Philips Lighting Systems
</li><br>
<li>Wifi Peripherals Setup
</li><br>
<li>PC Hardware Troubleshooting
</li><br>
<li>Spreadsheet Developer
</li><br>
<li>Frontend Web Dev
</li><br>
<li>Apache and Node Dev
</li><br>
<li>Windows Troubleshooting
</li><br>
<li>IP Administration
</li><br>
<li>Cabling wifi Gateways
</li><br>
<li>Wifi Configuration
</li><br>

</ul>

<h6>1998 Plano Sr High ~ High School Diploma ~ Plano,TX</h6>



<h6>SCOTT WALLACE - m.scott.wallace@gmail.com - 682-241-4402 (text only: please no voicemail)</h6>

<br><br>
<span class="logoFont">Cover Letter</span>
<p>Greetings,
<br><br>

Thank you for taking time to review my experience. My name is Scott.


</p>
<h3>Background</h3>

 <p>I’m originally from Oklahoma City and after a life of experiences across our country, My wife and I have been settled into our home that faces the “Castle” at the front of Greeley Central High School.

<br><br>
We love this city, and now have a child in District 6 at Fred Tjardes. We are both members of our local DAC, and I volunteer for the District Level DAC meetings.

<br><br>
 I want to keep myself on the leading edge of technology physically and virtually, and seek efficient means to deliver that edge to my colleagues.

<br><br>
I have found my love for being a scholar in my thirties through leadership and now my forties with technology. I feel very malliable in the tech world, and seek collaborative environments to continue to grow.

~~
<br><br></p>
<h3>Abstract Skillset</h3>
<p>
You can see the U-Turn in careers, in which I have turned. We remain successful business operators with our Marketing Agency. My role of startup is over, and my path through ever evolving tech will continue to grow our company.

<br><br>
 Continual Discovery is my Life Commitment. The only limitations are Myself in advancement of Myself, my Family, and my Community.

<br><br>
I have always used technology to improve the world around me.

<br><br>
 My father worked on unix systems when I was 8 years old. I grew up using those Unix terminals, America Online, Prodigy,  and saw the phenomenon of social online experiences from chat rooms to myspace, facebook, website deployment, online training systems, and now blockchain and Server technologies.

<br><br>
I have creative solutions using Google and their peripherals to deliver communications to monitors and televisions.
<br><br>
While leading teams, I developed paperless training systems for my employers. Rare Italian, Stuft, Coyotes, Palominos, and Blue Agave have used my system to deliver communications.

~~
<br><br>
</p>
<h3 style="text-decoration:none;">Please consider interviewing me and discussing more details of the role’s requirements.</h3>

<h4>Gratefully, Scott Wallace</h4>
<br>
<br>
<br>

</div>
</div>
