<div class="resume"id="resPage">
<div>

<span class="logoFont" style="filter:brightness(.9);font-size:1.2rem;margin-bottom:4%"> Michael Scott Wallace</span>
<br>
<br>
<h5>Greeley, CO</h5>

<h5>m.scott.wallace@gmail.com</h5>

<h5>www.w2marketing.biz</h5>





<ul id="techHistory">
  <h3>Technical Background</h3>
<li>2021 ~ Co-Creator, UI Development, Accounting ~ W2 Marketing ~ Greeley, CO

Linode Server Admin, Consulting, Business Solutions, Ubuntu Admin, Ubuntu Admin, Node JS, EC2 Deployments (AWS)
</li><br>
<li>2021 ~ Comp TIA A+ Certifacate ~ Full Hardware Build of Ubuntu Servers and SSH Development
</li><br>
<li>2020 ~ Launched Marketing Agency www.w2marketing.biz
</li><br>
<li>2020 ~ HTML, CSS, SASS, and Javascript for Responsive Web App Design and Deployments
</li><br>
<li>2020 ~ Cpannel File Server Admin for Static Webfiles.
</li><br>
<li>2008 ~ Comcast Cable Technician ~Contact Cable, Denver, CO
VOIP Systems, Telecom,Coaxial Data Wiring Engineering, Signal Analysis, Local Troubleshooting,
</li><br>
<li>2003 ~ Tech Skills ~ Training School, Addison, TX

        Computer Hardware Engineering, OS Configuration,
</li><br>
</ul>

<ul id="leadership">
  <h3>Leadership Roles</h3>
<li>2018 ~ Kitchen and Service Operations ~Coyotes, Greeley, CO
</li><br>
<li>2016 ~ Area Director ~ Stuft A Burger Bar~ Fort Collins, Windsor, Greeley, CO
</li><br>
<li>2014 ~ Operations Planning and Execution ~ RARE Italian~ Fort Collins, CO
</li><br>
<li>2010 ~ Senior Manager ~ Public School 612 & Daily Grill ~ Los Angeles, CA
</li><br>
</ul>
<h3>Various Technical Skils</h3>
<ul id="techSkills">


<li>Javascript
</li><br>
<li>HTML, SCSS, SASS
</li><br>
<li>AWS EC2
</li><br>
<li>Linode VM
</li><br>
<li>DNS and SSL Admin
</li><br>
<li>Computer Hardware
</li><br>
<li>Windows Troubleshooting
</li><br>
<li>Excel and Sheets Expert
</li><br>
<li>UI Design
</li><br>
<li>Junior Node.js Development
</li><br>
<li>Networking
</li><br>


</ul>

<h6>1998 Plano Sr High ~ High School Diploma ~ Plano,TX</h6>


<br>
<h6> - SCOTT WALLACE - m.scott.wallace@gmail.com - </h6>

<br><br>
<span class="logoFont">Cover Letter</span>
<p>Greetings,
<br><br>

Thank you for taking time to review my experience. My name is Scott.


</p>
<h3>Background</h3>

 <p>I’m originally from Oklahoma City. I was educated to be expressive and artistic. Creativity was a key to my upbringing. As an adult, I’ve expressed my art through Food, Technology, and Leadership.

I have a very broad skill set on Technology with Hardware, Networking, Data Analysis, and Programming from years of applied experience.
</p>
<br><br>
<h3>Abstract Skillset</h3>
<p>
<br><br>
You can see the U-Turn in vocation. W2 was an opportunity to invest the time we had through Covid to become a business owner . We remain successful operators with our Marketing Agency. My role as a startup is over, and my path through ever evolving tech will continue to grow our company. My partner handles operations and my responsibilities have essentially dissolved from developing automation to accounting and hiring a few employees.
 Continual Discovery is my Life Commitment. Programming  has become a career of intriguing and rewarding discoveries.


<br><br>
I have always used technology to improve the world around me. My father worked on unix systems when I was 8 years old. I grew up using those Unix terminals, America Online, Prodigy, saw the phenomenon of social online experiences from chat rooms to myspace, facebook, website deployment, online training systems, and now blockchain and Server technologies.

<br><br>
Programming allowed me to immerse and apply to create standalone websites and grow into full stack development. Currently I have Advanced knowledge of Javascript, SASS, Programming Syntax, Debugging and Logic . My future design is focused on securing and testing a prototype Express.js App, with User Logins, and a Scalable Marketplace.

~~
<br><br></p>
<h3>My Goal</h3>
<p>I wish to enter as a Junior Developer in a team oriented production, using CSS, Javascript and Node. Gain more exposure to workflow and contribute to a worthwhile project that I can grow from. <br><br></p>
<h3 style="text-decoration:none;">Please consider interviewing me and discussing more details of the role’s requirements.</h3>

<h4>Gratefully, Scott Wallace</h4>
<br>
<br>
<br>
<p>I am available to interview on WebEx, Zoom, Teams, Discord, and in person</p>
<br>
<a href="www.github.com/snoryder8019">Github Repositories</a>
</div>
</div>
