

<h1>After Effects</h1>
<p><em>I have learned several avenues of using AE</em>  Expressions, Keyframes, and Rigging ~ 3D Motion, Camera Rigs, and Lighting. This is a work in Progress.
<br><br>
   <button class="genericButton"onclick="slider()">next example</button></p>
<h3 id="aeTitle"></h3>
<video id="aeSlides" src="../images/royal.mp4" autoplay poster="posterimage.jpg">


</video>
<script type="text/javascript" src="../jsFiles/aftereffects.js">

</script>
</p>
