

<h1>After Effects</h1>
<p><em>I have learned several avenues of using AE</em>  Expressions, Keyframes, and Rigging ~ 3D Motion, Camera Rigs, and Lighting <span onclick="slider()">next example</span></p>

<video id="aeSlides" src="../images/royal.mp4" autoplay poster="posterimage.jpg">


</video>
<script type="text/javascript" src="../jsFiles/aftereffects.js">

</script>
</p>
