

<h1>TWIT BOT API!!</h1>
<p><em>I am running a bot that is delivering a collection of rravencoin posts to my UI</em>  </p>

<%- include('../twits.ejs')%>

<canvas onclick="drawBezier()" class="canvas"id="canvas2">


</canvas>
<p id="canvasRef2">..</p>
<script src="../jsFiles/canvas2.js"></script>
