

<h1>Bezier Curves Using Canvas 2d in Javascript</h1>
<p><em>Click in The Box:</em>  </p>
<canvas onclick="drawBezier()" class="canvas"id="canvas0">


</canvas>
<p id="canvasRef">..</p>
<script src="../jsFiles/canvas.js"></script>
