

<h1>TWIT BOT API!!</h1>
<p><em>In this example, Twitter's API delivers UI content to the Site. Node.js writes to the HTML as tweets come in.</em> Here we are following #getupgreeley   </p>
<h2>Canvas is under constructyion for something much cooler!! 02-22-2022 "twos-DAY"</h2>
<%- include('../twits.ejs')%>


<script src="../jsFiles/canvas2.js"></script>
