

<h1>Bezier Curves Using Canvas 2d in Javascript</h1>
<p><em>Click in The Box:</em>  </p>
<h2>Canvas is under constructyion for something much cooler!! 02-22-2022 "twos-DAY"</h2>
<canvas onclick="drawBezier()" class="canvas"id="canvas1">


</canvas>
<p id="canvasRef1">..</p>
<script src="../jsFiles/canvas1.js"></script>
