

<h1>Bezier Curves Using Canvas 2d in Javascript</h1>
<p><em>Click anywhere in the window:</em>  </p>
<h2>Canvas is under constructyion for something much cooler!! 02-22-2022 "twos-DAY"</h2>
<canvas onclick="drawBezier()" class="canvas"id="canvas0">


</canvas>
<p id="canvasRef">..</p>
<script src="../jsFiles/canvas.js"></script>
