

<h1>Masking with responsive colors</h1>
<p><em>Desktop Users:</em>  Drag your mouse across the screen. <br><br> <em>  Cellphone Users:</em> tap on a random spot of the background.</p>
<div class="maskDiv"><div id="colorDiv"></div></div>
