<h1>mini Battle Practice</h1>
<div id="miniMessage">miniMessgae</div>
<div onclick="playerStats()"id="player1">Player 1 Stats</div>
<div id="npc1">NPC Stats</div>
<div></div>
<div id="player1Image">Player Image</div>
<div id="npcImage">NPC Image</div>

<script src="../jsFiles/miniBattle.js"></script>
