<h1>mini Game Practice</h1>
<div id="startButt" onclick="gameStart()"><h2>Click Here to Start Game</h2></div>
<div id="miniGame" class="miniGame">
<div id="miniMessage" class="miniMessage"></div>
<div id="miniGameScore" class="miniGameScore">
</div>
<br>
<div id="sq0" class="miniSpace"></div>
<div id="sq1" class="miniSpace"></div>
<div id="sq2" class="miniSpace"></div>
<div id="sq3" class="miniSpace"></div>
<div id="sq4" class="miniSpace"></div>
<div id="sq5" class="miniSpace"></div>
<div id="sq6" class="miniSpace"></div>
<div id="sq7" class="miniSpace"></div>
<div id="sq8" class="miniSpace"></div>
</div>
<div id="player1" class="playerScore">Player 1: 0</div>
<div id="player2" class="playerScore">Player 2: 0</div>
</canvas>
<p id="canvasRef1">..</p>
<script src="../jsFiles/miniGame.js"></script>
