<h1>Example of Roulette Logic with UI</h1>
<p><em>Click On Wheel</em>   </p>
<div><div class="pointer" onclick="spinner()"></div>


<div id="tokenHolder">
  <div  id="tokenIntro"></div>
</div>
<div  class="output"><p id="scoreLast"></p></div>
<div id="historyBar">spin history<p id="history"></p></div>
<div class="output"><p id="numberOutput"></p></div>
