

<h1>Twitch</h1>
  <button onclick="switchImg()" class="promptSwitch" id="promptSwitch0">promptSwitch</button>
<img id="imgPrompt" class="imgPrompt0"src="images/bike.png" alt="a bike">
<script src="jsFiles/twitch.js"></script>
</p>
