
<form class="" action="/blogPost" method="post">
<select id="blogOpt" class="" name="blogOpt" onchange="submit()">
  <!--option value=" ">~select a Blog</option-->
  <option value="../partials/blogs/blog0">blog0</option>
  <option value="../partials/blogs/blog1">blog1</option>
</select>
</form>
