blog FORM output here
<form class="" action="/blogPost" method="post">
<select id="blogOpt" class="" name="blogOpt" onchange="submit()">
  <option value=>~select a Blog</option>
  <option value="../partials/blogs/blog0">Introblog</option>
</select>
</form>
