
<form action="/sendData" method="post">
<select id="sandbox" name="sandbox" onchange="submit()">
	<option name="" value="masking">select a module</option>
	<option name="masking" value="masking">masking</option>
	<option name="canvas" value="canvas">canvasJS</option>
	<option name="miniGame" value="miniGame">Mini Game</option>
	<option name="miniBattle" value="miniBattle">Mini Battle</option>
	<option name="canvas2" value="canvas2">TwitBot</option>
	<option name="aftereffects" value="aftereffects">After Effects</option>
	<!--option name="blogs" value="blogs">Blogs</option-->
</select>

</form>
