<form class="" action="/submitted" method="post">
  <input type="text" name="blogTitle" value="">
  <input type="text" name="blogDate" value="">
  <input type="text" name="blogBody" value="">
</form>
